<h1>Welcome <%=current_manager.full_name %></h1>

<div>
<h3 class="ui dividing header"></h3>
<h2 class="ui blue header">Function of manager</h2>


<div class="ui huge middle aligned animated list">
    
        <div class="item"> <%= link_to 'Doctor(s)', doctors_index_path %> </div>
        <div class="item"> <%= link_to 'Room(s)', rooms_path %> </div>
        <div class="item"> <%= link_to 'Client(s)', clients_path %> </div>
    
</div>

<br><br><br>
<a class="ui blue label" rel="nofollow" data-method="delete" href="/managers/sign_out">Logout</a>


</div>